{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "@components": "./src/components",
          "@containers": "./src/containers"
        }
      }
    ]
  ]
}
