{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/flow"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    // "babel-plugin-smart-webpack-import",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@containers": "./src/containers",
          "@ducks": "./src/ducks",
          "@utils": "./src/utils",
          "@constants": "./src/constants",
          "@layouts": "./src/layouts",
          "@storage": "./src/storage"
        }
      }
    ]
  ]
}
