body {
  background-color: #1d2330;
  color: white;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code {
  color: #fdb241;
}

.bs-docs-nav {
  background-color: #181b21;
}

.bs-docs-nav .navbar-brand,
.bs-docs-nav .navbar-nav > li > a {
  color: white;
}

.bs-docs-nav .navbar-brand:hover,
.bs-docs-nav .navbar-nav > li > a:hover {
  color: #fdb241;
  background-color: initial;
}

.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a {
  color: #fdb241;
  border-left-color: #fdb241;
}

.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
  color: #fdb241;
  border-left-color: #fdb241;
}

.breadcrumb {
  background-color: #181b21;
}

.breadcrumb > .active {
  color: white;
}

.panel-default {
  border-color: #2d3747;
}

.panel-default > .panel-heading {
  background-color: #181b21;
  color: white;
  border-color: #2d3747;
}

.panel-body,
.panel-footer {
  background-color: #1d2330;
}

.list-group-item {
  background-color: #1d2330;
  border-color: #2d3747;
}

a.list-group-item:hover,
a.list-group-item:focus {
  background-color: #181b21;
}

.badge {
  background-color: #7d899c;
}

.back-to-top:hover {
  color: #fdb241;
}

.fa {
  color: white;
}

.fa:hover {
  color: #fdb241;
  text-decoration: none;
}

#jumbotron {
  background-image: none !important;
  background-color: #181b21;
}

#jumbotron:after {
  background: transparent;
}
